# List, Set, Tuples, & Dictionary
## Topik:
- Memahami List, Set, Tuples, dan Dictionary
- Memahami kombinasi list, set, tuples, dan dictionary untuk memecahkan masalah
- Memahami cara memodifikasi data

**Soal 1:** Buatlah sebuah list yang berisi angka dari 1-10. Print list-nya

In [ ]:
#Solusi

**Soal 2:** Print elemen pertama, tengah, dan terakhir dari list yang dibuat sebelumnya

In [ ]:
#Solusi

**Soal 3:** Print 3 elemen pertama, 3 elemen terakhir, dan juga elemen 5-9 dari list di atas

In [ ]:
#Solusi

**Soal 4:** Selesaikan program di bawah dengan rincian syarat seperti berikut:

Menampilkan angka 1,2,3

Menampilkan string "hello","world"

Menampilkan nama ke-3 dari list nama

In [ ]:
numbers = []
strings = []
names = ["Budi","Aldi","Cika","Desi"]

# write your code here
third_name = None


# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("Nama ketiga dari list nama adalah %s" % third_name)

**Soal 5:** Buatlah sebuah list yang berisi nilai kuadrat dari bilangan ganjil 1-20 menggunakan list comprehension

In [ ]:
# Solusi

**Soal 6:**  Urutkan secara ascending list di bawah dan hapus elemen yang kembar (data duplikat)

In [ ]:
numbers = [4,9,2,34,95,5,30,64,4,8,75,9,23,34,4,9,5,20,95,4,81]

# Solusi

**Soal 7:** Buat matrix angka 3x3 menggunakan nested list, kemudian print bentuk matriknya. Tampilkan juga elemen dari baris 3 kolom ke 2

In [4]:
# Solusi

**Soal 8:** Buatlah sebuah list dari dictionary minimal 6 elemen dengan kunci "nama" dan "skor" di mana "nama" berisi elemen nama dan "skor" berisi nilai. Tampilkan list tersebut dari urutan nilai paling tinggi ke rendah (descending)

In [15]:
#Solusi

**Soal 9:** Ubahlah list 3x3 di bawah ini menjadi list satu baris dan tampilkan isinya

In [ ]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

#Solusi

**Soal 10:** Buatlah sebuah list, lalu buatlah reverse_list membalikkan nilai dari list sebelumnya. Tampilkan keduanya

In [ ]:
# Solusi

**Soal 11:** Buatlah sebuah set yang berisi angka dari 1-10. Print hasilnya

In [17]:
# Solusi

**Soal 12:** Dari set sebelumnya, tambahkan elemen ke-11 dan hapus elemen pertamanya

In [ ]:
# Solusi

**Soal 13:** Tampilkan union, intersection, difference, dan symmetric difference dari 2 set dibawah ini.

Jika tidak paham istilah di atas, bisa dicari di browser.

In [ ]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))

# Solusi

**Soal 14:** Buatlah set comprehension yang berisi nilai kuadrat dari bilangan 1-10

In [ ]:
#Solusi

**Soal 15:** Dari set sebelumnya, saringlah elemen yang termasuk bilangan genap

In [ ]:
#Solusi

**Soal 16:** Buatlah set dari list di bawah ini dan hapus data duplikatnya

In [ ]:
lst = [1,2,2,3,4,5,5,6,6]

#Solusi

**Soal 17:** Buatlah set dari 5 angka pertama bilangan bulat, kemudian ubah ke dalam bentuk list, append angka 6, ubah lagi ke set.

In [ ]:
#Solusi

**Soal 18:** Buatlah sebuah frozenset yang berisi angka bilangan ganjil dari 1-10

In [ ]:
#Solusi

**Soal 19:** Buatlah dictionary dari set sebagai key, dan nilainya bertipe string

In [ ]:
#Solusi
#Gunakan frozenset untuk membuat dictionary dari set

**Soal 20:** Buatlah sebuah set dari angka 1-7, kemudian cek apakah angka 3 dan 8 termasuk elemen tersebut

In [ ]:
#Solusi

**Soal 21:** Buatlah sebuah tuple dari angka 1-10, print tuple tersebut.

In [ ]:
#Solusi

**Soal 22:** Print elemen ke-2, ke-4, dan ke-9 dari tuple di atas

In [ ]:
#Solusi

**Soal 23:** Print 3 elemen pertama, 3 elemen terakhir, dan elemen ke 2-7

In [ ]:
#Solusi

**Soal 24:** Buatlah tuples 4x4 yang berisi angka, kemudian tampilkan elemen baris 2 kolom ketiga

In [ ]:
#Solusi

**Soal 25:** Buatlah sebuah set dari angka 1-7, kemudian cek apakah angka 3 dan 8 termasuk elemen tersebut

In [ ]:
#Solusi

**Soal 26:** Gabungkan dua tuple di bawah ini

In [ ]:
num1 = (1,2,3)
num2 = (10,20)

#Solusi

**Soal 27:** Lengkapi program di bawah sehingga menghasilkan output jumlah angka 3 yang kembar dan indeks elemen pertama yang kembar.

In [ ]:
tpl = (1,2,3,4,5,3,6,4,3,7,3)
#Solusi
#Gunakan count untuk menghitung angka yang kembar

**Soal 28:** Buatlah tuple yang berisi 5 elemen, kemudian unpack tuple tersebut menjadi 5 variable. print kelima variabelnya

In [ ]:
#Solusi

**Soal 29:** Ubahlah list yang berisi 5 elemen ke dalam tuple

In [ ]:
#Solusi

**Soal 30:** Buatlah tuple yang berisi 3 nama, lalu masukkan nama baru ke dalam tuple tersebut

In [ ]:
#Solusi

**Soal 31:** Dari tuple di bawah ini: hapus data yang kembar, urutkan datanya, kemudian tambahkan angka 6 ke dalam elemennya.

In [ ]:
tpl_num = (8,4,6,2,1,7,8,4,20,9,6,3,4,5,2,7,8,4)

#Solusi

**Soal 32:** buatlah sebuah nested tuple, kemudian print tiap elemennya menggunakan iterasi

In [ ]:
#Solusi

**Soal 33:** Dari tuple di bawah ini: Hapus data kembar, kemudian tampilkan nilai tertinggi, nilai terendah, dan total nilai elemennya

In [ ]:
#Solusi

**Soal 34:** Buatlah sebuah dictionary dari angka 1-5 sebagai kuncinya, kemudian nilai kuadratnya sebagai nilainya.

In [ ]:
#Solusi

**Soal 35:** Dari dictionary di atas, tampilkan key,value,dan item elemen ke-4

In [ ]:
#Solusi

**Soal 36:** Dari dictionary di atas, tambahkan pasangan key-value (6,36) dan hapus elemen dari key 1

In [ ]:
#Solusi

**Soal 37:** tampilkan semua nilai key, value, dan item dictionary di atas menggunakan iterasi

In [ ]:
#Solusi

**Soal 38:** Buatlah dictionary comprehension menggunakan 10 bilangan bulat pertama sebagai kuncinya, lalu nilai kuadratnya sebagai nilainya

In [ ]:
#Solusi

**Soal 39:** Buatlah dictionary dari list angka 1-5 sebagai kuncinya, kemudian list yang berisi nilai kuadratnya sebagai nilainya

In [ ]:
#Solusi
#Gunakan variabel data list sebagai key dan valuenya

**Soal 40:** Buatlah dictionary dari tuple angka 1-5 sebagai kuncinya, kemudian list yang berisi nilai kuadratnya sebagai nilainya

In [ ]:
#Solusi
#Gunakan variabel data tuple sebagai key dan valuenya

**Soal 41:** Buatlah dictionary dari angka 1-5 sebagai kuncinya dan nilai kuadrat sebagai nilainya, lalu ubahlah dictionary tersebut dalam bentuk list

In [ ]:
dict =
lst =
#Solusi

**Soal 42:** Buatlah Nested dictionary yang berisi "nama","umur", dan elemen "nama" memiliki kunci "nama lengkap" dan "nama panggilan".

In [ ]:
#Solusi

**Soal 43:** Buatlah 2 dictionary yang berisi 3 angka sebagai kuncinya, nilai kuadrat sebagai nilainya, kemudian gabungkan keduanya menjadi 1 dictionary.

In [ ]:
#Solusi

**Soal 43:** Buatlah dictionary yang berisi angka 1-10 sebagai kuncinya, nilai kuadratnya sebagai nilainya. Kemudian buat dictionary baru yang berisi hanya dari key yang berangka genap

In [ ]:
#Solusi

# <p align="center"> Good Luck! </p>